dj-database-url==0.4.0
Django==1.9.2
django-filter==0.13.0
django-filters==0.2.1
django-redis-sessions==0.5.0
django-socket-server==0.0.4
django-socketio==0.3.9
django-websocket-redis==0.4.6
djangorestframework==3.3.3
MySQL-python==1.2.3
whitenoise==2.0.6
gunicorn==0.14.2