adium-theme-ubuntu==0.3.4
amqp==1.4.9
anyjson==0.3.3
apt-xapian-index==0.46
autobahn==0.13.0
BeautifulSoup==3.2.1
beautifulsoup4==4.4.1
billiard==3.3.0.23
celery==3.1.23
characteristic==0.1.0
chardet==2.3.0
colorama==0.3.2
command-not-found==0.3
debtagshw==0.1
defer==1.0.6
dirspec==13.10
dj-database-url==0.4.0
Django==1.9.2
django-filter==0.13.0
django-filters==0.2.1
django-redis-sessions==0.5.0
django-socket-server==0.0.4
django-socketio==0.3.9
django-websocket-redis==0.4.6
djangorestframework==3.3.3
duplicity==0.7.1
gevent==1.1.0
gevent-socketio==0.2.1
gevent-websocket==0.9.5
greenlet==0.4.9
gunicorn==19.4.5
gyp==0.1
html5lib==0.999
httplib2==0.9
idna==0.9
importlib==1.0.3
kombu==3.0.34
lockfile==0.8
lxml==3.4.2
monkey==0.1
MySQL-python==1.2.3
ndg-httpsclient==0.3.2
numpy==1.8.2
oauthlib==0.6.1
oneconf==0.3.7.15.4.1
PAM==0.4.2
pbr==1.8.1
Pillow==2.7.0
piston-mini-client==0.7.5
psycogreen==1.0
psycopg2==2.6.1
pyasn1==0.1.7
pyasn1-modules==0.0.5
pycrypto==2.6.1
pycups==1.9.72
pycurl==7.19.5
pygobject==3.14.0
pyOpenSSL==0.13.1
pyserial==2.6
python-apt===0.9.3.11build1
python-debian==0.1.22
pytz==2016.1
pyxdg==0.25
redis==2.10.5
requests==2.8.0
service-identity==1.0.0
sessioninstaller==0.0.0
six==1.10.0
software-center-aptd-plugins==0.0.0
sphinx-me==0.3
stevedore==1.12.0
system-service==0.1.6
Twisted==16.0.0
Twisted-Core==14.0.2
Twisted-Web==14.0.2
txaio==2.2.2
unity-lens-photos==1.0
urllib3==1.9.1
uWSGI==2.0.12
virtualenv==15.0.0
virtualenv-clone==0.2.6
virtualenvwrapper==4.7.1
whitenoise==2.0.6
wsaccel==0.6.2
xdiagnose==3.7.2
zope.interface==4.1.1
